.DS_Store
**/node_modules
package-lock.json
pnpm-lock.yaml

# SvelteKit
/build
/.svelte-kit
/package

# Firebase
**/*-debug.log
**/bower_components
**/*.bak
.idea
/.firebase
functions/lib/
functions/typings/

# Config files
**/svelte.config.*js
**/vite.config.*js
**/jest.config.*js