.DS_Store
**/node_modules

# SvelteKit
/frontend/build
/frontend/.svelte-kit
/frontend/package
/frontend/.env
/frontend/.env.*

# Firebase
**/secrets.json
**/*-debug.log
**/bower_components
**/*.bak
.idea
.firebaserc
/.firebase