.DS_Store
**/node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.pnpm-store

# Frontend
/frontend/build

# Firebase
**/*-debug.log
**/bower_components
**/*.bak
.idea
/.firebase
functions/lib/
functions/typings/