.DS_Store
**/node_modules
package-lock.json
yarn.lock

# SvelteKit
/build
/.svelte-kit
/package

# Firebase
**/*-debug.log
**/bower_components
**/*.bak
.idea
/.firebase
functions/lib/
functions/typings/