@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary, .btn-secondary {
        @apply min-w-[124px] text-xs uppercase rounded-full py-2 px-8 font-medium tracking-wide;
        transition-property: background-color, color, box-shadow;
        transition-duration: .3s;
    }
    .btn-primary {
        @apply bg-spotify-green-500 text-spotify-white hover:bg-spotify-green-400
    }
    .btn-secondary {
        @apply bg-transparent text-spotify-gray-600 hover:bg-spotify-gray-600 hover:text-spotify-white;
        box-shadow: 0 0 0 2px inset #616467;
    }
} 